<div class="row">
  <app-add-task (emitTask)="add($event)"></app-add-task>
</div>
<div class="row">
  <div class="col-md-6">
    <ul *ngFor="let tl of taskList">
      <li>
        {{tl}}
        <button class="btn btn-success btn-xs" (click)="addToDoneList(tl)">Zrobione</button>
        <button class="btn btn-danger btn-xs" (click)="removeTask(tl)">Usuń</button>
      </li>
    </ul>
  </div>
  <div class="col-md-6">
    <ul *ngFor="let task of taskDone"`>
      <li>{{task}}</li>
    </ul>
  </div>
</div>
