<div class="jumbotron text-center">
  <h1>Lista zadań by Ujo</h1>
</div>
<div class="container">
  <div class="row margin-bottom">
    <app-add-task (emitTask)="add($event)"></app-add-task>
  </div>
  <div class="row">
    <div class="col-md-6">
      <app-todo-task [todoList]="todoList" (emitDone)="addToDoneList($event)" (emitRemove)="removeTask($event)"></app-todo-task>
    </div>
    <div class="col-md-6">
      <p>Wykonano {{doneList.length}} zadań</p>
      <ul *ngFor="let task of doneList">
        <li>{{task}}</li>
      </ul>
    </div>
  </div>
</div>
